<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--响应式开发-->
    <mate name="viewport" content="width=device-width,initial-scale=1.0"></mate>
    <title>博客标签页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css"/>
</head>
<body style="background-color:#fffbe4">
<!--顶部导航栏-->
<nav class="ui inverted attached segment me-padding-nav">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="item"><i class="home icon" style="border: 0"></i>首页</a>
            <a href="#" class="item"><i class="idea icon"></i>分类</a>
            <a href="#" class="active item"> <i class="target icon"></i>标签</a>
            <a href="#" class="item"> <i class="clone icon"></i>归档</a>
            <a href="#" class="item"><i class="info icon"></i>关于我</a>
            <div class="right item ">
                <div class="ui icon input">
                    <input type="text" placeholder="Search..."/>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--中间部分-->
<div class="ui me-padded-tag-large my-container-small">
    <div class="ui container">
        <div class="ui top attached segment">
            <!--文本居中，占两列-->
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共<h2 class="ui orange header me-text-thin me-inline-block">14</h2>个
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <a href="#" target="_blank" class="ui basic left pointing label my-margin-large">
                学习
                <span class="detail">13</span>
            </a>
            <a href="#" target="_blank" class="ui teal basic left pointing label my-margin-large">
                方法论
                <span class="detail">13</span>
            </a>
            <a href="#" target="_blank" class="ui basic left pointing label my-margin-large">
                研究成果
                <span class="detail">13</span>
            </a>
            <a href="#" target="_blank" class="ui basic left pointing label my-margin-large">
                学习
                <span class="detail">13</span>
            </a>
            <a href="#" target="_blank" class="ui basic left pointing label my-margin-large">
                学习
                <span class="detail">13</span>
            </a>
            <a href="#" target="_blank" class="ui basic left pointing label my-margin-large">
                学习
                <span class="detail">13</span>
            </a>
        </div>
        <!--content-->
        <div class="ui top attached segment">
            <div class="ui padded mobile reversed stackable vertical grid">
                <a href="#" class="ui top left attached teal basic label">方法论</a>
                <div class="eleven wide column">
                    <h3 class="ui header">小而美的博客开发</h3>
                    <p class="my-text">小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发...</p>
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <div class="ui horizontal link list mini">
                                <div class="item">
                                    <img src="https://picsum.photos/id/1015/40/40" class="ui avatar image">
                                    <div class="content"><div class="me-text-thin">Losen</div></div>
                                </div>
                                <div class="item">
                                    <i class="calendar icon"></i>2020-5-10
                                </div>
                                <div class="item">
                                    <i class="eye icon"></i>2020
                                </div>
                            </div>
                        </div>
                        <div class="right aligned five wide column">
                            <a href="#" target="_blank" class="ui teal me-padded-min middle aligned label">认知升级</a>
                        </div>
                    </div>
                </div>
                <div class="right aligned five wide column">
                    <!--点击图片，打开新窗口-->
                    <a href="#" target="_blank">
                        <img src="https://picsum.photos/id/1015/200/200" class="ui right aligned rounded image"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui padded mobile reversed stackable vertical grid">
                <a href="#" class="ui top left attached teal basic label">方法论</a>
                <div class="eleven wide column">
                    <h3 class="ui header">小而美的博客开发</h3>
                    <p class="my-text">小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发...</p>
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <div class="ui horizontal link list mini">
                                <div class="item">
                                    <img src="https://picsum.photos/id/1015/40/40" class="ui avatar image">
                                    <div class="content"><div class="me-text-thin">Losen</div></div>
                                </div>
                                <div class="item">
                                    <i class="calendar icon"></i>2020-5-10
                                </div>
                                <div class="item">
                                    <i class="eye icon"></i>2020
                                </div>
                            </div>
                        </div>
                        <div class="right aligned five wide column">
                            <a href="#" target="_blank" class="ui teal me-padded-min middle aligned label">认知升级</a>
                        </div>
                    </div>
                </div>
                <div class="right aligned five wide column">
                    <!--点击图片，打开新窗口-->
                    <a href="#" target="_blank">
                        <img src="https://picsum.photos/id/1015/200/200" class="ui right aligned rounded image"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui padded mobile reversed stackable vertical grid">
                <a href="#" class="ui top left attached teal basic label">方法论</a>
                <div class="eleven wide column">
                    <h3 class="ui header">小而美的博客开发</h3>
                    <p class="my-text">小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发...</p>
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <div class="ui horizontal link list mini">
                                <div class="item">
                                    <img src="https://picsum.photos/id/1015/40/40" class="ui avatar image">
                                    <div class="content"><div class="me-text-thin">Losen</div></div>
                                </div>
                                <div class="item">
                                    <i class="calendar icon"></i>2020-5-10
                                </div>
                                <div class="item">
                                    <i class="eye icon"></i>2020
                                </div>
                            </div>
                        </div>
                        <div class="right aligned five wide column">
                            <a href="#" target="_blank" class="ui teal me-padded-min middle aligned label">认知升级</a>
                        </div>
                    </div>
                </div>
                <div class="right aligned five wide column">
                    <!--点击图片，打开新窗口-->
                    <a href="#" target="_blank">
                        <img src="https://picsum.photos/id/1015/200/200" class="ui right aligned rounded image"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui padded mobile reversed stackable vertical grid">
                <a href="#" class="ui top left attached teal basic label">方法论</a>
                <div class="eleven wide column">
                    <h3 class="ui header">小而美的博客开发</h3>
                    <p class="my-text">小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发...</p>
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <div class="ui horizontal link list mini">
                                <div class="item">
                                    <img src="https://picsum.photos/id/1015/40/40" class="ui avatar image">
                                    <div class="content"><div class="me-text-thin">Losen</div></div>
                                </div>
                                <div class="item">
                                    <i class="calendar icon"></i>2020-5-10
                                </div>
                                <div class="item">
                                    <i class="eye icon"></i>2020
                                </div>
                            </div>
                        </div>
                        <div class="right aligned five wide column">
                            <a href="#" target="_blank" class="ui teal me-padded-min middle aligned label">认知升级</a>
                        </div>
                    </div>
                </div>
                <div class="right aligned five wide column">
                    <!--点击图片，打开新窗口-->
                    <a href="#" target="_blank">
                        <img src="https://picsum.photos/id/1015/200/200" class="ui right aligned rounded image"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui padded mobile reversed stackable vertical grid">
                <a href="#" class="ui top left attached teal basic label">方法论</a>
                <div class="eleven wide column">
                    <h3 class="ui header">小而美的博客开发</h3>
                    <p class="my-text">小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发...</p>
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <div class="ui horizontal link list mini">
                                <div class="item">
                                    <img src="https://picsum.photos/id/1015/40/40" class="ui avatar image">
                                    <div class="content"><div class="me-text-thin">Losen</div></div>
                                </div>
                                <div class="item">
                                    <i class="calendar icon"></i>2020-5-10
                                </div>
                                <div class="item">
                                    <i class="eye icon"></i>2020
                                </div>
                            </div>
                        </div>
                        <div class="right aligned five wide column">
                            <a href="#" target="_blank" class="ui teal me-padded-min middle aligned label">认知升级</a>
                        </div>
                    </div>
                </div>
                <div class="right aligned five wide column">
                    <!--点击图片，打开新窗口-->
                    <a href="#" target="_blank">
                        <img src="https://picsum.photos/id/1015/200/200" class="ui right aligned rounded image"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui padded mobile reversed stackable vertical grid">
                <a href="#" class="ui top left attached teal basic label">方法论</a>
                <div class="eleven wide column">
                    <h3 class="ui header">小而美的博客开发</h3>
                    <p class="my-text">小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发小而美的博客开发...</p>
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <div class="ui horizontal link list mini">
                                <div class="item">
                                    <img src="https://picsum.photos/id/1015/40/40" class="ui avatar image">
                                    <div class="content"><div class="me-text-thin">Losen</div></div>
                                </div>
                                <div class="item">
                                    <i class="calendar icon"></i>2020-5-10
                                </div>
                                <div class="item">
                                    <i class="eye icon"></i>2020
                                </div>
                            </div>
                        </div>
                        <div class="right aligned five wide column">
                            <a href="#" target="_blank" class="ui teal me-padded-min middle aligned label">认知升级</a>
                        </div>
                    </div>
                </div>
                <div class="right aligned five wide column">
                    <!--点击图片，打开新窗口-->
                    <a href="#" target="_blank">
                        <img src="https://picsum.photos/id/1015/200/200" class="ui right aligned rounded image"/>
                    </a>
                </div>
            </div>
        </div>
        <!--内容底部分页-->
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!--底部footer-->
<footer class="ui inverted vertical segment me-padded-tag-massive">
    <div class="ui center aligned container">
        <!--默认分为16小格-->
        <div class="ui inverted divided stackable grid">
            <div class="two wide column">
                <div class="ui invert link list">
                    <div class="item">
                        <img src="../static/images/Avatar.jpg" class="ui rounded image" style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header me-opacity-mini me-text-thin me-text-space">最新博客</h4>
                <div class="ui inverted link list me-opacity-mini">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header me-opacity-mini me-text-thin me-text-space">联系方式</h4>
                <div class="ui inverted link list">
                    <p class="me-opacity-mini me-text-thin me-text-space">Email:&nbsp;lls1350767625@163.com</p>
                    <p class="me-opacity-mini me-text-thin me-text-space">QQ:&nbsp;1350767625</p>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header me-text-thin me-text-space me-opacity-mini">最新博客</h4>
                <p class="me-text-thin me-text-space me-opacity-mini">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            </div>
        </div>
        <div class="ui inverted section divider "></div>
        <p class="me-text-thin me-text-space me-text-lined me-opacity-mini">Copyright © 2020 &nbsp;&nbsp;<span>Author: Lonsen</span></p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>